<!DOCTYPE html>
{% verbatim %}
<html lang="en" ng-app="mapApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Search the map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    </style>

    <script>

        let mapApp = angular.module('mapApp', []);

        mapApp.controller('MapController', function MapController($scope, $http, $interpolate) {
            $scope.markers = [];
            $scope.searchPoint = {};
            $scope.category = 'doctor';
            $scope.distance = '100km';

            function setMarkerOntheMap(source) {

                let infowindow = new google.maps.InfoWindow({
                    content: $interpolate('<b>{{name}}</b><p>{{location.address}}</p>')(source)
                });

                let geoSet = source.location.geo_set;
                let latLng = new google.maps.LatLng(geoSet.lat, geoSet.lon);
                let marker = new google.maps.Marker({
                    position: latLng,
                    map: $scope.map,
                    title: source.name
                });

                marker.addListener('click', function () {
                    infowindow.open($scope.map, marker);
                    //todo highlight the corespondent row item
                });

                $scope.markers.push(marker);
            }

            $scope.dragendMap = function () {
                $scope.searchPoint = {lat: $scope.map.getCenter().lat(), lng: $scope.map.getCenter().lng()};

                $scope.search(false);
            };

            $scope.changeAddress = function (place) {
                //infowindow.close();
                // marker.setVisible(false);
                $scope.searchPoint = {};
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                let location = place.geometry.location;
                $scope.searchPoint = {lat: location.lat(), lng: location.lng()};
                $scope.map.setCenter(new google.maps.LatLng(location.lat(), location.lng()));
            };


            $scope.search = function (manualSearch = true) {

                $http.get('/map/search', {
                    params: {
                        clinic: $scope.clinic,
                        name: $scope.name,
                        occupation: $scope.occupation,
                        category: $scope.category,
                        distance: $scope.distance,
                        gender: $scope.gender,
                        lat: $scope.searchPoint.lat,
                        lng: $scope.searchPoint.lng
                    }
                }).success(function (data, status, headers, config) {

                    //remove all markers
                    $scope.markers.forEach(mkr => mkr.setMap(null));
                    $scope.markers = [];
                    if (data.hits != undefined && data.hits.hits !== undefined) {
                        let result = data.hits.hits;
                        $scope.searchResult = [];
                        result.map(el => el._source).forEach(source => {
                            setMarkerOntheMap(source);
                            $scope.searchResult.push(source);
                        });


                        if (manualSearch) {
                            let bounds = new google.maps.LatLngBounds();
                            $scope.markers.map(marker => marker.getPosition()).forEach(pos => bounds.extend(pos));
                            $scope.map.fitBounds(bounds);
                        }
                    }

                }).error(function (data, status, headers, config) {
                    console.log('failed!')
                });
            };
        });


    </script>
</head>
<body ng-controller="MapController">
<div class="container">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location"/>

    <input id="distance-input" class="controls" type="text" placeholder="Distance" ng-model="distance"/>

    <input id="category-input" class="controls" type="text" placeholder="Category" ng-model="category"/>

    <input id="name-input" class="controls" type="text" placeholder="Doctor's name" ng-model="name"/>

    <input id="occupation-input" class="controls" type="text" placeholder="Occupation" ng-model="occupation"/>

    <input id="clinic-input" class="controls" type="text" placeholder="Clinic" ng-model="clinic"/>

    <input id="gender-input" class="controls" type="text" placeholder="Gender" ng-model="gender"/>

    <input type="button" value="Search" ng-click="search()"/>

    <div id="map"></div>


    <div>
        <div class="table-responsive">
            <caption>Doctors in the searched area:</caption>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in searchResult">
                    <th scope="row">{{index}}</th>
                    <td>{{ el.name }}</td>
                    <td>{{ el.location.address }}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>
<script>

    function initMap() {
        $scope = angular.element(document.querySelector('[ng-controller="MapController"]')).scope();

        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: new google.maps.LatLng(-37.813852, 144.960995),//Melbourne position
            mapTypeId: 'terrain'
        });
        google.maps.event.addListener(map, 'dragend', function () {
            // get the center and run the search again
            $scope.dragendMap();

        });
        let input = document.getElementById('pac-input');

        let autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setTypes(['address']);
        autocomplete.bindTo('bounds', map);

        autocomplete.addListener('place_changed', function () {


            let place = autocomplete.getPlace();
            $scope.changeAddress(place);

        });

        $scope.map = map;
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU0yX6BlIhIF8JLESH9qWu0_GZtAtBtwo&callback=initMap&libraries=places">
</script>
</body>
</html>
{% endverbatim %}