<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Add a new service</title>


    <script>

        let newItemApp = angular.module('newItemApp', []);

        newItemApp.controller('NewItemController', function NewItemController($scope, $http, $interpolate) {

            $scope.init = function () {
                let existing_item = {{item | safe}};

                if (existing_item) {
                    let existing_item_id = _.get(existing_item, '_id', undefined);


                    existing_item = _.get(existing_item, '_source', undefined);
                    document.getElementById('address-formatted-hidden').value = existing_item.location.address;
                    document.getElementById('pac-input').value = existing_item.location.address;
                    document.getElementById('address-lat-hidden').value = existing_item.location.geo_set.lat;
                    document.getElementById('address-lon-hidden').value = existing_item.location.geo_set.lon;
                    let item = _.merge({}, existing_item.location);
                    item = _.merge(item, existing_item.detail);
                    item = _.merge(item, existing_item);
                    $scope.item = item;

                    $scope.item_id = existing_item_id;
                    $scope.secret = '{{ secret|safe }}';
                } else
                    $scope.item = {};

                $scope.submitted = false;

                $http.defaults.xsrfCookieName = 'csrftoken';
                $http.defaults.xsrfHeaderName = 'X-CSRFToken';
            };

            $scope.saveItem = function () {
                $scope.createItem($scope.item_id, $scope.secret);
            };

            $scope.deleteItem = function () {
                let formData = {
                    recaptcha: angular.element(document.querySelector('#g-recaptcha-response')).val(),
                    id: $scope.item_id,
                    secret: $scope.secret
                };


                $http({
                        url: '/api/delete_item',
                        method: 'POST',
                        data: formData,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }
                ).success(function (data) {
                    $scope.submitted = true;
                    $scope.notification = "Your service has been removed from the map and deleted!";

                }).error(function (data) {
                    console.error('failed!')
                });


            };

            $scope.createItem = function (id, secret) {

                let formData = {
                    recaptcha: angular.element(document.querySelector('#g-recaptcha-response')).val(),
                    address: angular.element(document.querySelector('#address-formatted-hidden')).val(),
                    lat: angular.element(document.querySelector('#address-lat-hidden')).val(),
                    lon: angular.element(document.querySelector('#address-lon-hidden')).val(),
                    id: $scope.item_id,
                    secret: $scope.secret

                };

                formData = _.merge($scope.item, formData);
                $http({
                        url: '/api/create_item',
                        method: 'POST',
                        data: formData,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }
                ).success(function (data) {
                    $scope.submitted = true;
                    $scope.notification = "Your service has been created. You need to activate it using the link that has been emailed to you!";


                }).error(function (data) {
                    console.error('failed!')
                });

            }
        });

        function initAutoComplete() {
            let input = document.getElementById('pac-input');

            let autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes(['address']);

            autocomplete.addListener('place_changed', function () {

                let place = autocomplete.getPlace();

                document.getElementById('address-formatted-hidden').value = place.formatted_address;
                document.getElementById('address-lat-hidden').value = place.geometry.location.lat();
                document.getElementById('address-lon-hidden').value = place.geometry.location.lng();


            });
        }

    </script>

</head>
<body ng-app="newItemApp" ng-controller="NewItemController">
{% verbatim %}
<div class="container" ng-if="!submitted" ng-init="init()">

    <div class="row">
        <form class="form-group">
            <input placeholder="Category" class="form-control" ng-model="item.type"/>
            <input placeholder="Name" class="form-control" ng-model="item.name"/>
            <input placeholder="Address" id="pac-input" class="form-control"/>
            <input id="address-formatted-hidden" type="hidden"/>
            <input id="address-lat-hidden" type="hidden"/>
            <input id="address-lon-hidden" type="hidden"/>
            <input placeholder="Phone" class="form-control" ng-model="item.phone"/>
            <input placeholder="Website" class="form-control" ng-model="item.website"/>
            <input placeholder="Email" class="form-control" ng-model="item.email"/>
            <input placeholder="Gender" class="form-control" ng-model="item.gender"/>
            <input placeholder="Occupation" class="form-control" ng-model="item.occupation"/>
            <input placeholder="Description" class="form-control" ng-model="item.description"/>
            <div class="g-recaptcha" data-sitekey="6LfiNhUUAAAAAPweRUWVNkrAcnwXpC9E59saBWGR"></div>
            <button class="btn btn-primary" ng-if="!item_id" type="button" ng-click="createItem()">Create</button>
            <button class="btn btn-primary" ng-if="item_id" type="button" ng-click="saveItem()">Save</button>
            <button class="btn btn-primary" ng-if="item_id" type="button" ng-click="deleteItem()">Delete</button>

        </form>

    </div>


</div>
<div ng-if="submitted">
    {{ notification }}
    <a href="/">Back to Home</a>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU0yX6BlIhIF8JLESH9qWu0_GZtAtBtwo&callback=initAutoComplete&libraries=places">
</script>

{% endverbatim %}
</body>
</html>
