<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Add a new service</title>


    <script>

        let newItemApp = angular.module('newItemApp', []);

        newItemApp.controller('NewItemController', function NewItemController($scope, $http, $interpolate) {

            $scope.submitted = false;
            $scope.form = {};
            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';


            $scope.createNewItem = function () {

                let formData = {
                    recaptcha: angular.element('#g-recaptcha-response').val(),
                    address: angular.element('#address-formatted-hidden').val(),
                    location: {
                        lat: angular.element('#address-lat-hidden').val(),
                        lon: angular.element('#address-lon-hidden').val()
                    }
                };

                formData = _.merge(formData, $scope.form);
                $http({
                        url: '/new',
                        method: 'POST',
                        data: formData,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }
                ).success(function (data) {
                    $scope.submitted = true;


                }).error(function (data) {
                    console.error('failed!')
                });

            }
        });

        function initAutoComplete() {
            let input = document.getElementById('pac-input');

            let autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes(['address']);

            autocomplete.addListener('place_changed', function () {

                let place = autocomplete.getPlace();

                document.getElementById('address-formatted-hidden').value = place.formatted_address;
                document.getElementById('address-lat-hidden').value = place.geometry.location.lat();
                document.getElementById('address-lon-hidden').value = place.geometry.location.lng();


            });
        }

    </script>

</head>
<body ng-app="newItemApp" ng-controller="NewItemController">
<div class="container" ng-if="!submitted">

    <div class="row">
        <form class="form-group">
            <input placeholder="Category" class="form-control" ng-model="form.category"/>
            <input placeholder="Name" class="form-control" ng-model="form.name"/>
            <input placeholder="Address" id="pac-input" class="form-control"/>
            <input id="address-formatted-hidden" type="hidden"/>
            <input id="address-lat-hidden" type="hidden"/>
            <input id="address-lon-hidden" type="hidden"/>
            <input placeholder="Phone" class="form-control" ng-model="form.phone"/>
            <input placeholder="Website" class="form-control" ng-model="form.link"/>
            <input placeholder="Email" class="form-control" ng-model="form.email"/>
            <input placeholder="Gender" class="form-control" ng-model="form.gender"/>
            <input placeholder="Occupation" class="form-control" ng-model="form.occupation"/>
            <input placeholder="Description" class="form-control" ng-model="form.description"/>
            <div class="g-recaptcha" data-sitekey="6LfiNhUUAAAAAPweRUWVNkrAcnwXpC9E59saBWGR"></div>
            <button class="btn btn-primary" type="button" ng-click="createNewItem()">Create</button>

        </form>

    </div>


</div>
<div ng-if="submitted">
    An activation link has been sent to your email address. Please follow the instructions to
    show your data on the map.
    <a href="/">Back to Home</a>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU0yX6BlIhIF8JLESH9qWu0_GZtAtBtwo&callback=initAutoComplete&libraries=places">
</script>
<script async defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script async defer src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

</body>
</html>
