{% extends "base.html" %}

{% block head %}

    <title>Search services, businesses, people, etc.</title>

    {% load static from staticfiles %}
    <script src="{% static 'map/search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'map/search.css' %}">


{% endblock %}

{% block body %}
    {% verbatim %}
    <body ng-app="mapApp" ng-cloak ng-controller="MapController" layout="column">


    <md-toolbar layout="row">

        <md-button class="md-raised md-primary">
            <md-icon md-svg-icon="/static/map/add.svg"></md-icon>
            Learn More
        </md-button>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav id="peri-side-nav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">

            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Search">
                    <md-card>

                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Find services</span>
                                <span class="md-subhead">Search for people, businesses, services, etc.</span>
                            </md-card-title-text>

                        </md-card-title>
                        <md-card-content>


                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Category</label>
                                <md-select ng-model="type">
                                    <md-option value="doctor">Doctors</md-option>
                                </md-select>
                            </md-input-container>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Distance</label>
                                    <md-select ng-model="distance">
                                        <md-option value="5km">5 KM</md-option>
                                        <md-option value="10km">10 KM</md-option>
                                        <md-option value="30km">30 KM</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Location</label>
                                    <input id="pac-input">
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Name of place, person, etc.</label>
                                <input ng-model="name">
                            </md-input-container>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Gender</label>
                                    <md-select ng-model="gender">
                                        <md-option value=""></md-option>
                                        <md-option value="female">Female</md-option>
                                        <md-option value="male">Male</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="">
                                    <label>Occupation (if applicable)</label>
                                    <input ng-model="occupation" placeholder="E.g. dentist">
                                </md-input-container>
                            </div>


                            <md-input-container class="md-block" flex-gt-sm="">
                                <label>Clinic name</label>
                                <input ng-model="clinic">
                            </md-input-container>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary">Search</md-button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab label="Result">
                    <md-content flex>

                        <md-list>

                            <md-list-item class="md-3-line" ng-repeat="el in searchResult">


                                <div class="md-list-item-text">
                                    <h3><a href="{{el.src}}">{{ el.name }}</a></h3>
                                    <h4>{{ el.detail.occupation }} ({{ el.detail.gender }})</h4>
                                    <h4>{{ el.location.clinic_name }}</h4>
                                    <h4>{{ el.location.phone }}</h4>
                                    <p>
                                    {{ el.location.address }}<br/>
                                        <a target="_blank"
                                           href="{{ el.location.location_url }}">View on Google Maps</a>
                                    </p>

                                </div>
                                <md-divider inset></md-divider>
                            </md-list-item>

                        </md-list>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-sidenav>


        <div flex layout="row">

            <md-content flex style="background-color: #777777">
                <md-button ng-hide="$mdMedia('gt-sm')"
                           ng-click="toggleSideBar()"
                           class="md-fab md-primary" aria-label="Use Android"
                           style="position: absolute;top: 5px">
                    <md-icon md-svg-src="/static/map/magnifier.svg"></md-icon>
                </md-button>


            </md-content>
        </div>


    </div>


    </body>
    {% endverbatim %}
{% endblock %}